//font-family: 'Archivo',
//sans-serif;
//font-family: 'Hind',
//sans-serif;
//font-family: 'Open Sans',
//sans-serif;


//RobotoCondensed
@font-face {
  font-family: 'RobotoCondensed';
  src: url(/src/fonts/Roboto/RobotoCondensed-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url(/src/fonts/Roboto/RobotoCondensed-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url(/src/fonts/Roboto/RobotoCondensed-SemiBold.woff2) format('woff2');
}

//Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url(/src/fonts/OpenSans/OpenSans-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  src: url(/src/fonts/OpenSans/OpenSans-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  src: url(/src/fonts/OpenSans/OpenSans-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  src: url(/src/fonts/OpenSans/OpenSans-SemiBold.woff2) format('woff2');
}