.mainSwiper{
    max-height:85vh;
    overflow:hidden;
}

.mainSwiper:after{
    width:100%;
    height:10rem;
    content:'';
    position:absolute;
    bottom:0;
    background-color:transparent;
    border-bottom:calc(var(--doublePseudoElementsWidth) * 2) solid var(--color-primary-white);
    border-left:100vw solid transparent;
    z-index:30;
}

/*.swiper-img__container picture{*/
/*    text-align:center;*/
/*    object-position:center center;*/
/*    max-height:100%;*/
/*    overflow:hidden;*/
/*}*/
/*.swiper-img__container img{*/
/*    width:100% !important;*/
/*    object-fit:cover;*/
/*}*/
.swiper-button-my:before{
    position:absolute;
    content:'';
    width:60px;
    height:50px;
}

.swiper-button-my:hover:before{
    border-top:50px solid var(--color-primary-dark);
}

.swiper-button-prev-my:before{
    border-top:50px solid var(--color-primary-white);
    border-right:calc(var(--pseudoElementsWidth) / 2) solid transparent;
}

.swiper-button-next-my:before{
    border-top:50px solid var(--color-primary-white);
    border-left:calc(var(--pseudoElementsWidth) / 2) solid transparent;
}