@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    :root{
        /* For rgba(255, 115, 179, <alpha-value>) */
        --primary-dark-color:#123462;
        --primary-main-color:#1d60aa;
        --primary-medium-color:#4ba1ed;
        --primary-light-color:#aae0fa;
        --text-color:#828282;
        /*'g': #696969;*/
        /*'8': #828282;*/
        /*'6': #bcbcbc;*/
        /*'h': #ccc;*/
        --shadow-color:#ddd;
        /*'7': #eee;*/
        /*'f': #f5f5f5;*/
        --primary-white-color:#d1d1d1;
        --pseudoElementsWidth:2vw;
        --doublePseudoElementsWidth:calc(var(--pseudoElementsWidth) * 2);
    }
}

@layer components{
    /*coomon classes*/
    .link-absolute{
        @apply absolute top-0 bottom-0 left-0 right-0 cursor-pointer;
    }

    .page-transition{
        @apply transition ease-in-out delay-150 duration-300
    }

    .animate-ticker{
        @apply before:-translate-x-full before:opacity-0 before:transition-[all] before:duration-1000 before:w-full before:content-[''] before:h-1.5 before:bg-primary-medium-color before:block before:absolute before:top-0 -left-3 before:right-0
        /*width:100%;*/
        /*border-bottom:4px solid green;*/
        /*transition:width .5s ease;*/
    }

    .animate-ticker:hover{
        @apply before:translate-x-0 before:opacity-100 before:transition-[all] before:duration-1000 before:w-full
    }

    .animate-img{
        @apply before:z-[15] before:transition-[all] before:duration-1000 before:w-full before:content-[''] before:h-0 before:bg-primary-dark-color before:opacity-20 before:block before:absolute before:top-0 left-0
    }

    .animate-img:hover{
        @apply before:top-auto before:bottom-0 before:h-full before:transition-[all] before:duration-1000
    }

    /*///////////////////////////////////////////////////////////////////*/
    .navBefore{
        /*position:absolute;*/
        width:0;
        height:0;
        border-top:80px solid var(--primary-main-color);
        border-right:var(--pseudoElementsWidth) solid transparent;
    }

    .navAfter{
        /*position:absolute;*/
        width:0;
        height:0;
        border-top:80px solid transparent;
        border-right:var(--pseudoElementsWidth) solid var(--primary-medium-color);
    }

    #navigation-phone:hover svg{
        @apply animate-swing
    }

    .my-border{
        @apply border-amber-800 border-4
    }

    .swiper-button-my{
        @apply absolute top-1/2 z-20 w-[60px] h-[50px] bg-transparent flex text-primary-light-color
    }

    .swiper-button-prev-my{
        @apply left-3 justify-start
    }

    .swiper-button-next-my{
        @apply right-3 justify-end
    }

    .swiper-button-my svg{
        @apply fill-primary-light-color z-30 scale-50
    }

    .swiper-button-my:hover svg{
        @apply fill-primary-white-color
    }

    .swiper-button-prev-my svg{
        @apply pl-3
    }

    .swiper-button-next-my svg{
        @apply pr-3
    }

    /*service section*/
}